body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0c0c0c;
  color: white;
}

header {
  background-color: moccasin;
  padding: 20px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: dark yellow;
  margin: 0;
  padding: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #d8a47f;
}